<div class="project" ng-repeat="project in projects">
    <h1>
        <a ui-sref="project_detail({ slug: project.slug })">
            {{ project.title }}
        </a>
    </h1>
    <p class="text-muted">
        <small>Created: {{ project.created | date : "medium" }}</small>
    </p>
    <div id="description" ng-bind-html="project.description"></div>
    <ul class="clearfix" id="tags">
        <li class="pull-left text-muted" ng-repeat="tag in project.tags">
            <small>{{ tag.title }}{{ $last ? "" : ", " }}</small>
        </li>
    </ul>
    <hr ng-if="!$last" />
</div>
