<div class="row">
    <div class="col-md-12 post">
        <h1>{{ post.title }}</h1>
        <h3>{{ post.subtitle }}</h3>
        <div class="body" ng-bind-html="post.body"></div>
        <p class="created text-muted">
            <small>{{ post.created | date : "medium" }}</small>
        </p>
        <ul class="clearfix tags">
            <li class="pull-left text-muted" ng-repeat="tag in post.tags">
                <small>{{ tag.title }}{{ $last ? "" : ", " }}</small>
            </li>
        </ul>
    </div>
</div>
