<div class="row">
    <div class="col-md-12 photo" ng-repeat="photo in photos">
        <h1>
            <a ui-sref="photo_detail({ slug: photo.slug })">
                {{ photo.title }}
            </a>
        </h1>
        <p class="text-muted">
            <small>Created: {{ photo.created | date : "medium" }}</small>
        </p>
        <img class="img-responsive" id="image" ng-src="{{ photo.image }}" />
        <ul class="clearfix" id="tags">
            <li class="pull-left text-muted" ng-repeat="tag in photo.tags">
                <small>{{ tag.title }}{{ $last ? "" : ", " }}</small>
            </li>
        </ul>
        <hr ng-if="!$last" />
    </div>
</div>
