<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form name="searchForm" ng-submit="onSubmit()" novalidate>
            <div class="input-group">
                <div class="input-group-addon">Show me</div>
                <input
                    class="form-control"
                    name="query"
                    ng-model="query"
                    type="text" />
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div id="search-results">
            <div ng-repeat="result in searchResults">
                <div ng-if="result.model_type == 'photo'">
                    <h1>
                        <a ui-sref="photo_detail({ id: result.id })">
                            {{ result.title }}
                        </a>
                    </h1>
                    <div class="description">{{ result.description }}</div>
                </div>
                <div ng-if="result.model_type == 'post'">
                    <h1>
                        <a ui-sref="post_detail({ id: result.id })">
                            {{ result.title }}
                        </a>
                    </h1>
                    <div class="body">{{ result.body }}</div>
                </div>
                <div ng-if="result.model_type == 'project'">
                    <h1>
                        <a ui-sref="project_detail({ id: result.id })">
                            {{ result.title }}
                        </a>
                    </h1>
                    <div class="description">{{ result.description }}</div>
                </div>
                <hr ng-if="!$last" />
            </div>
            <p ng-show="searchResults && !searchResults.length && searchForm.query.$dirty">
                NO RESULTS!
            </p>
        </div>
    </div>
</div>
