<div class="row" id="index">
    <div class="col-md-12 post">
        <h1>
            <a ui-sref="post_detail({ slug: post.slug })">
                {{ post.title }}
            </a>
        </h1>
        <h3>{{ post.subtitle }}</h3>
        <div class="body" ng-bind-html="post.body"></div>
        <hr />
    </div>
    <div class="col-md-12">
        <h3>Recent Photos</h3>
        <div class="row">
            <div class="col-md-4 col-xs-12 photo" ng-repeat="photo in photos">
                <a ui-sref="photo_detail({ slug: photo.slug })">
                    <img class="img-responsive" ng-src="{{ photo.image }}" />
                </a>
            </div>
        </div>
    </div>
</div>
