<div class="row">
    <div class="col-md-12 project">
        <h1>{{ project.title }}</h1>
        <div class="description" ng-bind-html="project.description"></div>
        <p class="text-muted">
            <small>{{ project.created | date : "medium" }}</small>
        </p>
        <ul class="clearfix tags">
            <li class="pull-left text-muted" ng-repeat="tag in project.tags">
                <small>{{ tag.title }}{{ $last ? "" : ", " }}</small>
            </li>
        </ul>
    </div>
</div>
