<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form name="searchForm" ng-submit="onSubmit()" novalidate>
            <div class="input-group">
                <div class="input-group-addon">Show me</div>
                <input
                    class="form-control"
                    name="query"
                    ng-model="query"
                    type="text" />
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div id="search-results">
            <ul ng-show="searchResults.length">
                <li ng-repeat="result in searchResults">
                    <a
                            ng-if="result.model_type == 'photo'"
                            ui-sref="photo_detail({ id: result.id })">
                        {{ result.title }}
                    </a>
                    <a
                            ng-if="result.model_type == 'post'"
                            ui-sref="post_detail({ id: result.id })">
                        {{ result.title }}
                    </a>
                    <a
                            ng-if="result.model_type == 'project'"
                            ui-sref="project_detail({ id: result.id })">
                        {{ result.title }}
                    </a>
                </li>
            </ul>
            <p ng-show="searchResults && !searchResults.length && searchForm.query.$dirty">
                NO RESULTS!
            </p>
        </div>
    </div>
</div>
