<div class="row">
    <div class="col-md-12">
        <h1>Recent Activity</h1>
    </div>
    <div class="col-md-4">
        <h3>
            <a ui-sref="project_detail({ slug: project.slug })">
                {{ project.title }}
            </a>
        </h3>
        <div ng-bind-html="project.description"></div>
    </div>
    <div class="col-md-4">
        <h3>
            <a ui-sref="post_detail({ slug: post.slug })">
                {{ post.title }}
            </a>
        </h3>
        <div ng-bind-html="post.body"></div>
    </div>
    <div class="col-md-4">
        <h3>
            <a ui-sref="photo_detail({ slug: photo.slug })">
                {{ photo.title }}
            </a>
        </h3>
        <div ng-bind-html="photo.description"></div>
    </div>
</div>
