<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <form class="form-inline" novalidate>
            <div class="input-group">
                <div class="input-group-addon">Show me</div>
                <input
                    class="form-control"
                    ng-model="searchQuery"
                    type="text" />
            </div>
            <button
                class="btn btn-primary"
                ng-click="onSubmitClick()"
                type="submit">Submit
            </button>
        </form>
        <div id="search-results">
            <ul>
                <li ng-repeat="result in searchResults">
                    <a ng-if="result.model_type == 'photo'" ui-sref="photo_list">
                        {{ result.title }}
                    </a>
                    <a ng-if="result.model_type == 'project'" ui-sref="project_list">
                        {{ result.title }}
                    </a>
                    <span ng-if="result.model_type != 'photo'">{{ result.title }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
